---
import Layout from '../layouts/AboutLayout.astro';
---

<Layout
	title="About Me"
	description="A passionate Full-Stack Developer specializing in creating beautiful and engaging user experiences."
>
	<div class="space-y-12">
		<section>
			<p class="mt-4 text-base text-gray-400">
				I'm a passionate <span class="font-semibold text-accent">Full-Stack Developer</span> with
				a specialization in creating <span class="font-medium text-gray-200"
					>beautiful, highly interactive, and engaging user experiences</span
				> on the <span class="font-semibold text-accent">front-end</span>. With a strong
				foundation in modern web technologies, I excel at bringing ideas to life, from the initial
				concept and design to implementation and deployment.
			</p>
			<p class="mt-4 text-base text-gray-400">
				My approach is driven by a constant desire for <span class="font-medium text-gray-200"
					>innovation</span
				> and a commitment to writing <span class="font-medium text-gray-200"
					>clean, efficient, and maintainable code</span
				>. I thrive on solving <span class="font-medium text-gray-200">complex problems</span> and
				am dedicated to a lifelong journey of learning and experimentation in the ever-evolving
				world of web development.
			</p>
		</section>

		<section>
			<h3 class="text-2xl font-bold">Languages</h3>
			<p class="mt-4 text-base text-gray-400">
				Italian (native), English (15+ years of experience), Spanish (5+ years of experience)
			</p>
		</section>

		<section>
			<h3 class="text-2xl font-bold">Education</h3>
			<ul class="mt-4 list-disc list-outside space-y-4 pl-5">
				<li class="text-base text-gray-400">
					<strong class="font-semibold text-gray-100">Popular Music and Recording</strong>
					<span class="text-gray-500">(2014-2015)</span>, Salford University, Manchester, England
				</li>
				<li class="text-base text-gray-400">
					<strong class="font-semibold text-gray-100">Electronic Music</strong>
					<span class="text-gray-500">(2016-2019)</span>, Conservatorio Licinio Refice, Frosinone, Italy
					<em class="mt-1 block text-sm text-gray-500">Bachelor Degree</em>
				</li>
				<li class="text-base text-gray-400">
					<strong class="font-semibold text-gray-100">Design Study Abroad</strong>
					<span class="text-gray-500">(2020)</span>, ELISAVA, Barcelona, Spain
				</li>
				<li class="text-base text-gray-400">
					<strong class="font-semibold text-gray-100"
						>Cognitive Systems and Interactive Media (CSIM)</strong
					>
					<span class="text-gray-500">(2021-2022)</span>, Universitat Pompeu Fabra, Barcelona, Spain
					<em class="mt-1 block text-sm text-gray-500">Master Degree</em>
				</li>
			</ul>
		</section>

		<section>
			<h3 class="text-2xl font-bold">Publications</h3>
			<ul class="mt-4 list-disc list-outside pl-5">
				<li class="text-base text-gray-400">
					Micozzi Ferri, Lorenzo.
					<em class="font-semibold not-italic text-gray-100"
						>I know what you type: empathy in real-time typed Computer Mediated Communication.</em
					>
					<span class="text-gray-500">2022,</span>
					<a
						href="http://hdl.handle.net/10230/54272"
						target="_blank"
						rel="noopener"
						class="underline">http://hdl.handle.net/10230/54272</a
					>
				</li>
			</ul>
		</section>

		<section>
			<h3 class="text-2xl font-bold">Teaching and Talks</h3>
			<ul class="mt-4 list-disc list-outside space-y-4 pl-5">
				<li class="text-base text-gray-400">
					<span class="font-semibold text-gray-100"
						>“Introduzione alla modellazione 3D in Blender”</span
					>, I.I.S. Marconi, Civitavecchia, RM, Italy <span class="text-gray-500">(2019)</span>
				</li>
				<li class="text-base text-gray-400">
					<span class="font-semibold text-gray-100">“Chordata Motion Capture technology”</span>,
					L.E.V. MATADERO, Madrid, Spain <span class="text-gray-500">(2021)</span>
				</li>
				<li class="text-base text-gray-400">
					<span class="font-semibold text-gray-100"
						>“Status Quo Selfie. El autorretrato como análisis profundo”</span
					>, Ideas Digitales, Madrid, Spain <span class="text-gray-500">(2021)</span>
				</li>
				<li class="text-base text-gray-400">
					<span class="font-semibold text-gray-100"
						>“Space transformer cookbook, trasformare gli spazi urbani attraverso principi di
						game design.”</span
					>, WelcomeToDaFuture, Rome, Italy <span class="text-gray-500">(2023)</span>
				</li>
			</ul>
		</section>
	</div>
</Layout>
