---
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';
---

<header class="relative m-0 p-4">
	<nav class="flex items-center justify-center gap-4 md:gap-2">
		<div class="flex gap-2 md:gap-1">
			<HeaderLink href="/portfolio/">
				<Icon name="fluent-emoji-flat:house" class="h-6 w-6" />
				Home
			</HeaderLink>
			<HeaderLink href="/portfolio/about">
				<Icon name="fluent-emoji-flat:technologist" class="h-6 w-6" />
				About me
			</HeaderLink>
		</div>
	</nav>
</header>
<style>
	nav a {
		padding: 0.5em 0.5em;
		color: var(--nav-link-color);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 720px) {
		nav a {
			padding: 0.5em 0.25em;
		}
	}
</style>
